@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-courier-prime: 'Courier Prime', monospace;
  --font-noto: 'Noto Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  @apply duration-200 transition-colors;
}

@layer base {
  .txt-color-primary {
    @apply text-neutral-800 dark:text-neutral-200;
  }

  .txt-color-secondary {
    @apply text-neutral-700 dark:text-neutral-300;
  }
  .txt-color-p {
    @apply text-neutral-600 dark:text-neutral-300;
  }

  .list-style {
    @apply list-outside list-disc px-6;
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-primary-700 to-secondary-600;
  }

  .card-bg {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }

  .link {
    @apply text-primary-700 hover:text-primary-600 dark:text-primary-500 dark:hover:text-primary-400 underline;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
